# B1. Индексация и извлечение данных

In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\data_sf.csv')
display(df.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

Сколько непустых элементов в колонке Club?

In [2]:
df.describe(include = ['object'])

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

Cколько раз каждая из национальностей встречается в столбце Nationality?

In [3]:
count = df['Nationality'].value_counts()
display(count)

England        1368
Germany         919
Spain           671
France          614
Argentina       574
               ...
Nicaragua         1
Malta             1
Andorra           1
South Sudan       1
Palestine         1
Name: Nationality, Length: 156, dtype: int64

Каково среднее значение возраста футболистов в наборе данных (округлите до целого)?

In [4]:
df.Age.mean()

24.795378770256647

Каково количество непустых строк в колонке Composure (Хладнокровие) набора данных о футболистах?

In [5]:
df.Composure.count()

12897

Каково в наборе данных о футболистах стандартное отклонение параметра коротких пасов (ShortPassing), округлённое до второго знака после запятой?

In [6]:
df.ShortPassing.std()

14.740435689517149

Какова сумма заработных плат за год (Wage) в наборе данных о футболистах?

In [7]:
df.Wage.sum()

96954000

Какова минимальная стоимость футболиста (Value) в наборе данных о футболистах?

In [8]:
df.Value.min()

0

Футболисты, старше среднего возраста

In [9]:
df[df.Age > df.Age.mean()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12746,12975,Teng Shangkun,27,China PR,Tianjin TEDA FC,20000,1000,GK,10,8,...,17,58,28,10,13,46,56,55,45,53
12749,12978,M. Mansour,26,Saudi Arabia,Al Batin,30000,2000,LB,36,18,...,33,37,45,54,54,10,8,6,13,13
12767,12996,Sun Qibin,26,China PR,Tianjin Quanjian FC,20000,2000,GK,14,7,...,12,30,46,11,10,50,46,51,48,50
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

Средняя заработная плата за год футболистов с возрастом ниже среднего или из клуба FC Barcelona.

In [10]:
df[(df.Age < df.Age.mean())&
        (df.Club == 'FC Barcelona')].Wage.mean()

77454.54545454546

Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [11]:
df[df.Wage == df.Wage.max()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8

Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период, данные о котором представлены в датасете?

In [12]:
data1 = df[df.Nationality == 'Brazil']
display(data1.Penalties.sum())

22789

Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50.

In [13]:
data1 = df[df.HeadingAccuracy > 50]
display(data1.Age.mean())

25.58771113179944

Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения, представленного в датасете.

In [14]:
data1 = df[(df.Composure > df.Composure.max()* 0.9) & (df.Reactions > df.Reactions.max()* 0.9)]
display(data1.Age.min())

24

Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?

In [15]:
data1 = df[df.Value > df.Value.mean()]
display(data1.Nationality)

0                  Argentina
1                   Portugal
2                     Brazil
3                      Spain
4                    Belgium
                ...
12736                England
12774    Republic of Ireland
12812                England
12857               China PR
12869                England
Name: Nationality, Length: 1747, dtype: object

Насколько средняя реакция (Reactions) самых взрослых игроков больше средней реакции самых молодых игроков?

In [16]:
data1 = df[df.Age == df.Age.max()]
data2 = df[df.Age == df.Age.min()] 
data3 = data1.Reactions.mean()- data2.Reactions.mean()
display(data3)

22.642857142857146

Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?

In [17]:
data1 = df[df.Value > df.Value.mean()]
data1.describe(include = ['object'])

                Name Nationality             Club Position
count           1747        1747             1747     1747
unique          1558          98              447       27
top     J. Rodríguez       Spain  Manchester City       ST
freq               9         211               17      214

Во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (GKHandling)?

In [18]:
data1 = df[(df.Position == 'GK')&(df.GKReflexes == df.GKReflexes.max())]
data2 = df[(df.Position == 'GK')&(df.GKHandling == df.GKHandling.max())]
data3 = data1.Wage.mean() / data2.Wage.mean()
display(data3)

2.765957446808511

Во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) выше силы удара игроков с минимальной агрессией?

In [19]:
data1 = df[df.Aggression == df.Aggression.max()]
data2 = df[df.Aggression == df.Aggression.min()]
data3 = data1.ShotPower.mean() / data2.ShotPower.mean()
display(data3)

2.076923076923077